body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}

/* -------- Mobile View --------*/

.hero {
    background-image: url("Hero-bg.jpg");
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* for dark ovelay use background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */


.main-title {
    font-size: clamp(2rem, 3vw, 7rem);
    text-align: center;
    color: white;
    height: 100%;
    padding-left: 30%;
    padding-bottom: 6%;
}

.opening-text {
    max-width: 700px;
}

.media-player-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.media-player-bg {
    width: 100%;
}
.playlist {
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

li {
    width: 100%;
    margin: .5em 0 .5em 0;
    background-color: black;
}

.track-info {
    /* background-color: rgb(99, 87, 101); */
    margin: 0;
    padding: .5em 0 0 .5em;
}

.mejs__container{
    background-color: rgba(99, 87, 101, 0);
    box-shadow: 5px 5px 5px black ;
}

.mejs__controls {
    padding: 0;
    height: 100%;
}

.mejs__time-rail {
    line-height: 8px;
}

.mejs__time-total, .mejs__time-buffering, 
.mejs__time-loaded, .mejs__time-current, 
.mejs__time-hovered, 
.mejs__time-float-corner, 
.mejs__time-marker {
    height: 5px;
}

.mosaic-photos {
    width: 100%;
}


@media (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Media/Photo/Hero-bg.jpg");
    }
}
@media (max-width: 1200px){
    .gear-list {
        font-size: .84rem;
    }
    
}

/* -------- Desktop view -------- */

@media (min-width: 1200px) {  
    .hero {
        height: 85vh;
        background-position: top;
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Media/Photo/Hero-bg.jpg"); */
    }

    .main-title {
        padding-bottom: 22%;
        padding-left: 38%;
    }
}

@media (min-width: 1500px) {
    .main-title {
        padding-left: 50%;
        padding-bottom: 33%;
    }
}
